      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#bf40bf;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 50px;
} 
    .heading {
  font-size: 40px; 
  color: #333; 
  font-family: Arial, sans-serif; 
  text-align: center; 
  color:#602060;
  }
 
 .text h1
 {
    color:#602060;
  font-family:Arial, sans-serif;    
 }
 .text p{
    color:#602060; 
  font-size: 20px;
  
 }
  .button {
    padding: 20px 40px;
    background-color: #bf40bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }



    .container {
    display: flex;
    align-items: center;
  }
  .text {
    margin-right: 20px;
  }
  .image {
    margin-top: 20px; 
    width: 1000px; 
  }      